.panel{
    max-width: 800px;
    padding: 20px;
    margin: auto;
    background: skyblue;
}
.text-center{
    text-align: center;
    color: greenyellow;
}
table{ width: 150%;}
table,tr,td{
    border: 8px solid tan;
}
.btn{
	background: darkgrey;
	color: black;
	padding: 10px 10px;
	display: inline-block;
	text-decoration: none;
} 